<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div id="fb-root"></div>
<noscript>You need to enable JavaScript to run this app.</noscript>

<div id="root"></div>
<h1>Put here signin code</h1>

</body>
</html>